<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome to Jobstacle Course</title>
    <link
      rel="stylesheet"
      href="/node_modules/bootstrap/dist/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/css/jass.css" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <div class="container-fluid">
      <header class="row">
        <div class="col-12 bg-primary text-white py-3">
          <h1 class="text-center mb-3">
            <a href="/welcome" class="text-white text-decoration-none">
              Welcome to Jobstacle Course
            </a>
          </h1>
          {{#if logged_in}}
            <p class="text-center mb-0">
              An application to track the jobs you want to apply to, have
              applied to, have interviewed for, been offered, and denied!
            </p>
          {{else}}
            <p class="text-center mb-0">
              An application to track the jobs you want to apply to, have
              applied to, have interviewed for, been offered, and denied! Login
              to view your profile and jobs or sign up to create an account.
            </p>
          {{/if}}
        </div>
      </header>
      <div class="row">
        <div class="col-12 text-end ">
          {{#if logged_in}}
            <nav>
              <button class="btn btn-primary" id="logout">Logout</button>
            </nav>
          {{else}}
          {{/if}}
        </div>
      </div>
      <main class="container container-fluid mt-5">
        {{#if logged_in}}
          
          {{!-- {{else}}
            <a class="login-btn" href="/login">Login or Sign Up</a> --}}
        {{/if}}
        {{{body}}}
      </main>
      <footer>
        <!-- Footer content here -->
      </footer>
    </div>

    <!-- Add the logout script inline -->

    {{#if logged_in}}
      <script>
        document.addEventListener('DOMContentLoaded', () => { const logoutButton
        = document.querySelector('#logout'); if (logoutButton) {
        logoutButton.addEventListener('click', async () => { const response =
        await fetch('/api/users/logout', { method: 'POST', headers: {
        'Content-Type': 'application/json' }, }); if (response.ok) {
        setTimeout(() => { document.location.replace('/login'); }, 500); } else
        { alert(response.statusText); } }); } });
      </script>
    {{/if}}
  </body>

</html>
