<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Jobstacle Course</title>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/jass.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
    <div class="flex-column justify-space-around">
        <header class="display-flex justify-space-between align-center p-2">
            <h1 class="title">
                <a href="/">Welcome to Jobstacle Course</a>
            </h1>

            {{#if logged_in}}
            <p>An application to track the jobs you want to apply to, have applied to, have interviewed for, been
                offered, and denied!</p>
            {{else}}
            An application to track the jobs you want to apply to, have applied to, have interviewed for, been offered,
            and denied! Login to view your profile and jobs or sign up to create an account.</p>
            {{/if}}

            <nav>
                {{#if logged_in}}
                <button class="no-button" id="logout">Logout</button>
                {{else}}

                {{/if}}
            </nav>
        </header>
        <main class="container container-fluid mt-5">
            <p>
                An application to track the jobs you want to apply to, have applied to, have interviewed for, been offered, and denied!
            </p>
            {{#if logged_in}}
            <button id="profile"><a href="/profile">My Profile</a></button>
            <a href="/jobs">My Jobs</a>
            <a href="/hiring">Looking to Hire?</a>
            <button class="no-button" id="logout">logout</button>
            {{!-- {{else}}
            <a class="login-btn" href="/login">Login or Sign Up</a> --}}
            {{/if}}
            {{{ body }}}
        </main>
        <footer>
            <!-- Footer content here -->
        </footer>
    </div>



    <!-- Add the logout script inline -->

    {{#if logged_in}}
    <script>
      const logoutButton = document.querySelector('#logout');

      if (logoutButton) {
        logoutButton.addEventListener('click', async () => {
          const response = await fetch('/api/users/logout', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
          });

          if (response.ok) {
            setTimeout(() => {
              document.location.replace('/login');
            }, 500);
          } else {
            alert(response.statusText);
          }
        });
      }
    </script>
    {{/if}}
</body>

</html>
