<div class="job-card">
    <div class="job-card-header">
        {{job_name}}
    </div>
    <div class="job-body">

        <p>
            Description:
            {{description}}
            
        </p>

    </div>

</div>