<div class="row mt-4">
  {{#if jobs.length}}
  <div class="col-md-6 jobs-list">
    <h3>Current Applications:</h3>
    
    {{#each jobs as |job|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/job/{{job.id}}">{{job.title}}</a></h4>
        <p>{{job.description}}</p>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{job.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>