<div class="col-md-5">
  <h1>Welcome, {{user.username}}! What would you like to do today?</h1>
</div>

<div class="col-md-5">
  <a href="/api/jobs" class="btn btn-primary">My Jobs</a>
</div>
<div class="col-md-5">
  <a href="newjob" class="btn btn-primary">Create a New Job</a>
</div>
<div class="col-md-5">
  <button id="/logout" class="btn btn-primary">Logout</button>
</div>

<script src="/js/logout.js"></script>