<div class="intro">
    <h1>Welcome, {{name}}! What would you like to do today?</h1>
</div>
    
    <div class="introbutton" >
        <button type="submit" class=".btn.btn-primary">My Profile</button>
    </div>

    <div class="introbutton">
        <button type="submit" class=".btn.btn-primary">My Applications</button>
    </div>

    <div class="introbutton">
        <button type="submit" class=".btn.btn-primary">Looking to hire?</button>
    </div>