  <head>
    <link rel="stylesheet" href="/css/jass.css" />
  </head>

  <body>
    <div class="container">
      <div class="content-left">
        <h1>Welcome!! What would you like to do today?</h1>

        <div class="buttons">
          <a href="/api/jobs" class="btn btn-primary btn-lg my-2">My Jobs</a>
          <a href="/newjob" class="btn btn-primary btn-lg my-2">Create a New Job</a>
          <button
            id="logout"
            class="btn btn-primary btn-lg my-2"
          >Logout</button>
        </div>
      </div>
    </div>
    <script src="./js/logout.js"></script>
  </body>
</html>
