<div class="col-md-5">
    <h1>Welcome, {{user.username}}! What would you like to do today?</h1>
</div>

<div class="col-md-5">
    <button id="alljobs" class=".btn.btn-primary"><a href="/alljobs">My Jobs</a></button>
</div>
<div class="col-md-5">
    <button id="" class=".btn.btn-primary">
        <My href="/newjob">Create a New Job</a>
    </button>
</div>
<div class="col-md-5">
    <button id="logout" class=".btn.btn-primary">Logout</button>
</div>

<script src="/js/logout.js"></script>